/* Content.css */
.content {
    font-family: Arial, sans-serif;
    max-width: 600px;
    min-width: 10px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

.content input[type="text"],
.content input[type="checkbox"],
.content button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.content input[type="checkbox"] {
    margin-left: 5px;
}

.content button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 1%;
}

.content button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.content h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #007bff;
}

.content h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #007bff;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.content li:hover {
    transform: translateY(-5px);
}

.content li button {
    margin-left: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.content li button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 300px;
        min-height: 660px;
    }
}

/* Gaya untuk tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .content {
        max-width: 700px;
        min-height: 930px;
    }
}

/* Gaya untuk monitor */
@media only screen and (min-width: 1025px) {
    .content {
        max-width: 800px;
        min-height: 300px;
    }
}